    <footer>
        <div class="main-nav footer">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1.6rem" viewBox="0 0 10 16" class="icon"><path fill-rule="evenodd" d="M5 3L0 9h3v4h4V9h3z"/></svg>
                &copy; 2019 | Anthony J. Clark
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1.6rem" viewBox="0 0 10 16" class="icon"><path fill-rule="evenodd" d="M5 3L0 9h3v4h4V9h3z"/></svg>
            </a>
        </div>
    </footer>
