{% for item in section.items %}

    <div class="itm flxgrid">

        {% if loop.first %}

            <div class="flx-100">
                <hr class="sec-hr" />
                <div class="sec-header">
                    {{ section.sectionname }}
                    {% if section.note | length > 0 %}
                        <div class="cv-subtitle">
                            {{ section.note }}
                        </div>
                    {% endif %}
                </div>
            </div>

        {% endif %}

        <div class="flx-cv-date">
            <div class="itm-date text-right">{{ item.date | cvdate | safe }}</div>
        </div>

        <div class="flx-cv-content">
            <div class="itm-title">{{ item.title }}</div>

            {% if item.organization | length > 0 %}
                <div class="itm-organization">{{ item.organization }}</div>
            {% endif %}

            {% if item.location | length > 0 %}
                <div class="itm-location">{{ item.location }}</div>
            {% endif %}

            {% if item.details | length > 0 %}
                <div class="itm-details" md>{{ item.details | markdown | safe }}</div>
            {% endif %}

        </div>

    </div>

{% endfor %}
