<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="/~ajc/site.webmanifest">
  <link rel="apple-touch-icon" href="/~ajc/icon.png">
  <link rel="icon" type="image/x-icon" href="/~ajc/favicon.ico"/>

    {% set css %}
        {% include "css/normalize.css" %}
        {% include "css/h5bp1.css" %}
        {% include "css/custom.css" %}
        {% include "css/flxgrid.css" %}
        {% include "css/cv.css" %}
        {% include "css/h5bp2.css" %}
    {% endset %}
    <style>
        {{ css | safe }}
    </style>

  <meta name="theme-color" content="#fafafa">
</head>

<body>

    <div class="container">
      {% include "nav.j2" %}
      {{ content | safe }}
      {% include "footer.j2" %}
    </div>

</body>

</html>
