{% for item in section["items"] %}

    <div class="cv-itm flxgrid">

        {% if loop.first %}

            <div class="flx-100">
                <hr class="cv-sec-hr" />
                <div class="cv-sec-header" id="{{ section.sectionname | lower | replace(" ", "-") | replace(",", "") }}">
                    {{ section.sectionname }}
                    {% if section.note | length > 0 %}
                        <div class="cv-subtitle">
                            {{ section.note }}
                        </div>
                    {% endif %}
                </div>
            </div>

        {% endif %}

        <div class="flx-cv-date">
            <div class="cv-itm-date text-right">{% if item["date"] is defined %}{{ item["date"] | cvdate | safe }}{% endif %}</div>
        </div>

        <div class="flx-cv-content">
            <div class="cv-itm-title">{{ item.title }}</div>

            {% if item.organization | length > 0 %}
                <div class="cv-itm-organization">{{ item.organization }}</div>
            {% endif %}

            {% if item.location | length > 0 %}
                <div class="cv-itm-location">{{ item.location }}</div>
            {% endif %}

            {% if item.details | length > 0 %}
                <div class="cv-itm-details" md>{{ item.details | markdown | safe }}</div>
            {% endif %}

        </div>

    </div>

{% endfor %}
