<div id="cv-container">

    <div class="flxgrid">
      <div class="flx-100 cv-title">
        {{ cv.contact.name | safe }}
      </div>
      <div class="flx-100 cv-subtitle">
        Last Updated: {{ this_month }}
      </div>
      <div class="flx-100 cv-subtitle no-print">
        <a href="../pdf/Clark.CV.pdf">Download CV as PDF</a>
      </div>
    </div>

    <hr class="cv-sec-hr" />

    <div class="flxgrid">
      <div class="flx-50">
        <div class="cv-address text-breaking">{{ cv.contact.address1 | safe | trim }}</div>
      </div>
      <div class="flx-50">
        <div class="cv-address text-right text-breaking">{{ cv.contact.address2 | safe }}</div>
      </div>
    </div>

    <div class="cv-itm flxgrid">

      <div class="flx-100">
          <hr class="cv-sec-hr" />
          <div class="cv-sec-header">Navigation</div>
      </div>

      <ul class="cv-toc">
        {% for section in [cv.education, cv.work, cv.teaching, cv.awards] %}
        <li>
          <a href="#{{ section.sectionname | lower | replace(" ", "-") | replace(",", "") }}">
            {{ section.sectionname }}
          </a>
        </li>
        {% endfor %}
        <li><a href="#publications">Publications</a></li>
        {% for section in [cv.uniservice, cv.proservice, cv.outreach, cv.grants, cv.softwares] %}
        <li>
          <a href="#{{ section.sectionname | lower | replace(" ", "-") | replace(",", "") }}">
            {{ section.sectionname }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% for section in [cv.education, cv.work, cv.teaching, cv.awards] %}
      {% include "cv-section.j2" %}
    {% endfor %}

    {% for bib in formatted_bibs %}
    <div class="cv-itm flxgrid">

        {% if loop.first == true %}
        <div class="flx-100">
            <hr class="cv-sec-hr" />
            <div class="cv-sec-header" id="publications">
                Publications
                <div class="cv-subtitle">
                    Student authors are underlined.
                </div>
            </div>
        </div>
        {% endif %}

        <div class="flx-cv-date">
            <div class="cv-itm-date text-right">
                {{ bib.date }}
            </div>
        </div>

        {% set bibkey = bib.key | replace(".", "-") %}

        <div class="flx-cv-content" id="{{ bibkey }}">
            {# <a class="no-url-print" href="../pdf/{{ bibkey }}.pdf" target="_blank">
                <p class="cv-itm-title">{{ bib.title }}</p>
            </a> #}

            {# <label id="{{ bibkey }}-abstract-label" class="cv-popover-label cv-itm-title" for="{{ bibkey }}-abstract">{{ bib.title }}</label>
            <input id="{{ bibkey }}-abstract" class="cv-toggle" type="checkbox">
            <div class="cv-popover-container"><span class="cv-popover"><strong>Abstract: </strong>{{ bib.abstract }}</span></div> #}
            <p class="cv-itm-title">{{ bib.title }}</p>
            <p class="cv-bib-authors">{{ bib.authors | safe }}</p>
            <p class="cv-bib-venue">
              {{ bib.venue | safe }}
              {% if bib.doi | length > 0 %}
                <a class="only-print" href="https://doi.org/{{ bib.doi }}">DOI: {{ bib.doi }}</a>
              {% endif %}
            </p>
            <div class="no-print cv-bib-venue">
                <span><a href="../pdf/{{ bib.key }}.pdf" target="_blank">PDF</a></span>
                {% if bib.doi | length > 0 %}
                <span class="cv-bib-sep"><a href="https://dx.doi.org/{{ bib.doi }}" target="_blank">DOI</a></span>
                {% endif %}
                {% if bib.slides %}
                <span class="cv-bib-sep"><a href="../pdf/{{ bib.key }}-slides.pdf" target="_blank">Slides</a></span>
                {% endif %}
                <span class="cv-bib-sep cv-bib-hover">
                  <span class="cv-bib-hover-label">Abstract</span>
                  <span class="cv-bib-hover-popover container"><strong>Abstract: </strong>{{ bib.abstract }}</span>
                </span>
                <span class="cv-bib-sep cv-bib-hover">
                  <span class="cv-bib-hover-label"><a href="../bib/{{ bib.key }}.bib" download="{{ bib.key }}.bib">BibTeX</a></span>
                  <span class="cv-bib-hover-popover"><code>{{ bib.raw_bibtex | safe }}</code></span>
                </span>
                {# <div class="cv-bib-sep">
                  <style>
                    #{{ bibkey }}-abstract:checked ~ .cv-popover-container,
                    #{{ bibkey }}-abstract-label:hover ~ .cv-popover-container { display: block; }
                  </style>
                  <label id="{{ bibkey }}-abstract-label" class="cv-popover-label" for="{{ bibkey }}-abstract">Abstract</label>
                  <input id="{{ bibkey }}-abstract" class="cv-toggle" type="checkbox">
                  <div class="cv-popover-container"><span class="cv-popover"><strong>Abstract: </strong>{{ bib.abstract }}</span></div>
                </div>
                <div class="cv-bib-sep">
                  <style>
                    #{{ bibkey }}-bibtex:checked ~ .cv-popover-container,
                    #{{ bibkey }}-bibtex-label:hover ~ .cv-popover-container { display: block; }
                  </style>
                  <label id="{{ bibkey }}-bibtex-label" class="cv-popover-label" for="{{ bibkey }}-bibtex">BibTeX</label>
                  <input id="{{ bibkey }}-bibtex" class="cv-toggle" type="checkbox">
                  <div class="cv-popover-container"><span class="cv-popover"><code>{{ bib.raw_bibtex | safe }}</code></span></div>
                </div>
                #}
            </div>
        </div>
    </div>
    {% endfor %}

    {% for section in [cv.uniservice, cv.proservice, cv.outreach, cv.grants, cv.softwares] %}
      {% include "cv-section.j2" %}
    {% endfor %}

</div>

<style type="text/css">
  @media print {
    header {
      display: none;
    }
    footer {
      display: none;
    }
  }
</style>

<script language="JavaScript">
  var username = "anthonyjclark",
      domain = "gmail.com";
  document.getElementById("email-insert").innerHTML = username + "&#8203;@" + domain;

  var area = "(347)",
      prefix = "687",
      line = "8421";
  document.getElementById("phone-insert").innerHTML = "+1 " + area + " " + prefix + " - " + line;
</script>
