---
layout: base.njk
---

<div id="cv-container">

    <div class="flxgrid">
      <div class="flx-100 cv-title">
        {{ cv.contact.name | safe }}
      </div>
      <div class="flx-100 cv-subtitle">
        Last Updated: {{ cv.contact.update | safe }}
      </div>
      <div class="flx-100 cv-subtitle no-print">
        This page can be printed via your browser; I recommend 0.75 inch side margins. Note: links are not preserved by Chrome. <button  onclick="javascript:window.print()" class="btn-print">Print</button>
      </div>
    </div>

    <hr class="sec-hr" />

    <div class="flxgrid">
      <div class="flx-50">
        <div class="cv-address text-breaking">{{ cv.contact.address1 | safe | trim }}</div>
      </div>
      <div class="flx-50">
        <div class="cv-address text-right text-breaking">{{ cv.contact.address2 | safe }}</div>
      </div>
    </div>

    {% for section in [cv.education, cv.work, cv.awards] %}
      {% include "section.njk" %}
    {% endfor %}

    {% for bib in formatted_bibs %}
    <div class="itm flxgrid">

        {% if loop.first == true %}
        <div class="flx-100">
            <hr class="sec-hr" />
            <div class="sec-header" id="publications">
                Publications
                <div class="cv-subtitle">
                    Student authors are underlined.
                </div>
            </div>
        </div>
        {% endif %}

        <div class="flx-cv-date">
            <div class="itm-date text-right">
                {{ bib.date }}
            </div>
        </div>

        {% set bibkey = bib.key | replace(".", "-") %}

        <div class="flx-cv-content" id="{{ bibkey }}">
            {# <a class="no-url-print" href="{{ "/static/pdf/" | url }}{{ bibkey }}.pdf" target="_blank">
                <p class="itm-title">{{ bib.title }}</p>
            </a> #}
            <style>#{{ bibkey }}-abstract:checked ~ .cv-popover-container {display: block;}</style>
            <label class="cv-popover-label itm-title" for="{{ bibkey }}-abstract">{{ bib.title }}</label>
            <input class="cv-toggle" id="{{ bibkey }}-abstract" type="checkbox">
            <div class="cv-popover-container"><span class="cv-popover"><strong>Abstract: </strong>{{ bib.abstract }}</span></div>
            <p class="bib-authors">{{ bib.authors | safe }}</p>
            <p class="bib-venue">{{ bib.venue | safe }}</p>
            <div class="no-print bib-venue">
                <span><a href="{{ "/static/pdf/" | url }}{{ bib.key }}.pdf" target="_blank">PDF</a></span>
                {% if bib.doi | length > 0 %}
                <span class="bib-sep"><a href="https://dx.doi.org/{{ bib.doi }}" target="_blank">DOI</a></span>
                {% endif %}
                {% if bib.slides %}
                <span class="bib-sep"><a href="{{ "/static/pdf/" | url }}{{ bib.key }}-slides.pdf" target="_blank">Slides</a></span>
                {% endif %}
                <div class="bib-sep">
                  <style>#{{ bibkey }}-bibtex:checked ~ .cv-popover-container {display: block;}</style>
                  <label class="cv-popover-label" for="{{ bibkey }}-bibtex">BibTeX</label>
                  <input class="cv-toggle" id="{{ bibkey }}-bibtex" type="checkbox">
                  <div class="cv-popover-container"><span class="cv-popover"><code>{{ bib.raw_bibtex | safe }}</code></span></div>
                </div>
            </div>
            {% if bib.doi | length > 0 %}
            <p class="only-print bib-venue">DOI: {{ bib.doi }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    {% for section in [cv.uniservice, cv.proservice, cv.outreach, cv.grants, cv.softwares] %}
      {% include "section.njk" %}
    {% endfor %}

</div>

<style type="text/css">
  @media print {
    header {
      display: none;
    }
    footer {
      display: none;
    }
  }
</style>

<script language="JavaScript">
  var username = "anthonyjclark",
      domain = "gmail.com";
  document.getElementById("email-insert").innerHTML = username + "&#8203;@" + domain;

  var area = "(347)",
      prefix = "687",
      line = "8421";
  document.getElementById("phone-insert").innerHTML = "+1 " + area + " " + prefix + " - " + line;
</script>
