.cv-title {
  font-size: 1.5rem;
}

.cv-subtitle {
  font-size: 0.9rem;
  color: #777;
}

.cv-address div {
  display: inline;
}

.cv-popover-container {
  position: relative;
  display: none;
}

.cv-popover-container:hover {
  display: block;
}

.cv-popover-container .cv-popover {
  position: absolute;
  background: white;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border: 1px solid black;
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: justify;
}

.cv-popover-container .cv-popover code {
  white-space: break-spaces;
}

.cv-toggle {
  display: none;
}

.cv-popover-label {
  color: $color-sec-green;
  text-decoration: none;
  cursor: pointer;
}

.cv-popover-label:hover, .cv-popover-label:focus {
  text-decoration: underline;
}

.cv-toc {
  margin-top: 0;
  margin-bottom: 0;
  columns: 2 400px;
}

.sec-header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.itm {
  margin-bottom: 1.5rem;
}

.itm-title {
  font-weight: bold;
  margin: 0;
}

.itm-date {
  font-size: 0.8rem;
  margin-right: 1rem;
  line-height: 1.4rem;
}

.itm-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.75rem 0;
  padding: 0;
}

.itm-organization, .itm-location {
  font-style: italic;
}

.itm-details p {
  margin: 0;
}

.itm-details ul {
  margin: 0;
  padding-left: 25px;
}

.itm-details em strong {
  /*font-weight: 600;*/
  /*font-family: 'Open Sans Semi-Bold', sans-serif;*/
  font-variant: small-caps;
}

.bib-authors {
  margin: 0;
}

.bib-authors .bib-author-ajc {
  font-weight: 600;
  font-variant: small-caps;
}

.bib-authors .bib-author-student {
  text-decoration: underline;
}

.bib-venue {
  margin: 0;
}

.bib-sep {
  padding-left: calc(0.5rem + 1px);
  border-left: 1px solid #ccc;
  margin-left: calc(0.5rem + 1px);
  display: inline;
}

.only-print {
  display: none;
}

@media only screen and (min-width: 600px) {
  .cv-address {
    margin: 0 1rem;
  }
}

@media print
{
  @page {
    size: letter portrait;
    margin: 1in;
  }
  html {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    font-size: 10pt;
    line-height: 1.1;
    padding: 0;
    margin: 0in;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .cv-container {
    width: 100%
  }
  .no-print {
    display: none;
  }
  .only-print {
    display: inline-block;
  }
  [class^='flx-'] {
    page-break-inside: avoid;
    region-break-inside: avoid;
  }
  div.page {
    page-break-after: always;
    page-break-inside: avoid;
  }
  .itm {
    page-break-inside: avoid;
    margin-bottom: 1rem;
  }

  a:link:after, a:visited:after {
     content: "";
  }

  .itm a, .cv-address a {
    text-decoration: none;
    color: $color-sec-green;
  }

  itm a:link:after, .cv-address a:link:after, itm a:visited:after, .cv-address a:visited:after {
    content: "";
  }

  a[href]::after {
    content: "";
  }

  .itm-details em strong {
    font-weight: 600;
  }

  .cv-title {
    font-size: 18pt;
  }
  .sec-header {
    font-size: 16pt;
  }

  .cv-popover-label {
    color: black;
  }
  .cv-toc {
    columns: 2;
  }
}
